body{
  width: 60%;
  margin: auto;
}
img{
  display: block;
  height: 30em;
  width: 40%;
  margin: auto;
  float: left;
}
section{
  float:left;
  width: 100%;
}
button:first-of-type{
  margin-left: 14%;
}
